* {
  margin: 0;
  box-sizing: border-box;
}
header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  opacity: 0.8;
  background-image: linear-gradient(aqua, white);
  padding: 2.5rem;
  width: 100%;
  height: 25%;
}
header h1 {
  font-size: 2rem;
  margin-top: -2rem;
  color: white;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.25rem;
}
header h3 {
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
  font-size: 1.5rem;
  color: rgb(79, 79, 254);
  letter-spacing: 0.3rem;
  font-family: "Ms Madi", cursive;
}
header a {
  padding-top: 0.5rem;
  color: rgb(79, 79, 254);
  text-decoration: none;
}
header a:hover {
  transition: 0.1s ease;
  font-weight: bold;
}
header ul {
  padding-top: -2rem;
  margin-top: -5rem;
  font-family: "Poppins", sans-serif;
  gap: 2rem;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  list-style-type: none;
}
header .loptica {
  border-radius: 2rem;
  margin-top: 2.1rem;
  background-image: linear-gradient(white, aqua);
  width: 4rem;
  height: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: -2.2rem;
}
header:hover .loptica {
  animation: levo 5s alternate forwards infinite;
}
header:hover {
  transform: scale(1, 1.02);
  transition: 1s ease-in;
  opacity: 1;
}
header img {
  left: 24rem;
  top: -0.2rem;
  position: absolute;
  width: 12rem;
  height: 5rem;
}
@keyframes levo {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(91vw);
  }
  50% {
    transform: translateX(0vw);
  }
  75% {
    transform: translateX(91vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.first {
  background-color: #92e1e2;
  display: flex;
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./slike/csm_Teaser_Service_Hotline_Weltkarte_c479a825fc.webp);
}
.first .box1 {
  padding: 2rem;
  height: 100%;
  width: 50%;
}
.first .box1 h2 {
  margin-top: 2rem;
  color: rgb(68, 68, 68);
  font-family: "Noto Sans Buhid", sans-serif;
  margin-bottom: 0.5rem;
}
.first .box1 h5 {
  font-size: 1rem;
  color: gray;
  font-style: italic;
}
.first .box1 p {
  font-family: "Kanit", sans-serif;
  color: black;
  font-size: 1.3rem;
  width: 45rem;
}
.first #par {
  letter-spacing: 0.2rem;
  color: #1c2e4c;
  font-weight: bold;
  font-family: "Ms Madi", cursive;
  font-size: 2rem;
}
.first .box2 {
  padding-left: 5rem;
  height: 100%;
  width: 50%;
}
.first .box2 img {
  height: 100%;
  width: 100%;
}
#prvi {
  padding-left: 1rem;
  /* border-top-left-radius: 1rem; */
  border-top-right-radius: 1rem;
  margin-left: -2rem;
  list-style-type: none;
  width: 36rem;
  background-image: linear-gradient(#6cd0ff, #1c2e4c);
  font-family: "Kanit", sans-serif;
  font-size: 1.4rem;
  color: black;
}
.first .box1 ul {
  margin-top: 3.5rem;
}
.first .box1 li {
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  width: 36rem;
  background-image: linear-gradient(#576182, #1fc5a8);
  margin-left: -2rem;
  list-style: none;
  font-family: "Kanit", sans-serif;
}
#drugi {
  margin-bottom: 2rem;
  border-bottom-left-radius: 1rem;
  /* border-bottom-right-radius: 1rem; */
}
.naslov {
  margin-top: 2rem;
  height: 15%;
  width: 100%;
  padding: auto;
}
.naslov h1 {
  color: #1c2e4c5f;
  font-size: 3rem;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin-left: 24rem;
}
.naslov h5 {
  color: #1c2e4c;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 2.5rem;
  margin-top: -3.7rem;
  margin-left: 26rem;
}
.second {
  padding-top: 2rem;
  background-color: #72b2e4;
  margin-top: 4rem;
  background-image: url(./slike/257-2573284_30-am-1733353-world-map2-dotted-world-map.png);
  height: 100%;
  width: 100%;
}
.second .kartice {
  margin-left: 2rem;
  padding: auto;
  gap: 0.5rem;
  flex-wrap: wrap;
  display: flex;
}
.kartice .box1 {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: white;
  width: 20rem;
  height: 28rem;
}
.kartice .box1 h3 {
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  padding-left: 1rem;
  margin-top: 1rem;
}
.kartice .box1 p {
  font-family: "Kanit", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}
.kartice .box1 .img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 45%;
}
.box1 .img img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  width: 100%;
  height: 100%;
}
.kartice .box1 button {
  height: 2rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  background-color: gainsboro;
  border: 1px rgba(0, 0, 0, 0.511) solid;
}
.kartice .box1 button:hover {
  transition: 0.5s ease-in-out;
  background-color: #576182;
  color: gainsboro;
}
